* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.full {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.a {
  width: 136.11px;
  height: 31.87px;
}
.user-wrapper {
  width: 100%;
  position: relative;
}
.b {
  height: 60px;
  border: 0.5px solid #b5bdcd;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.logo-user {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jessica {
  font-family: "Spline Sans", sans-serif;
  font-weight: 600;
  font-size: 12x;
  /* white-space: nowrap; */
}
.primary-user {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #b5bdcd;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.list a {
  text-decoration: none;
}
.icon:hover {
  background-color: #d3f7b5;
  border-radius: 6px;
}
.logOut {
  display: flex;
  padding: 10px;
  position: absolute;
  right: 0;
  top: calc(100% + 7px);
}
.logOut button {
  background-color: white;
  height: 35px;
  width: 25px;
  padding: 7px 15px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  font-size: 16px;
  width: fit-content;
  color: red;
}
.logout-img {
  height: 15px;
  width: 15px;
}
.logOut button:hover {
  background-color: rgb(249, 211, 211);
}

form {
  background-color: white;
  /* height: 320px; */

  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  size: 14px;
}
form input,
select {
  width: 100%;
  height: 40px;
}

.formButDiv {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.formButDiv button {
  height: 40px;
  width: 40%;
}


.icon {
  height: 41px;
  /* width:250px; */
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 15px;
}
.sidebar-documents {
  background-color: #d3f7b5;
  border-radius: 6px;
}
.footer {
  font-family: "Spline Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-img {
  width: 27px;
  height: 27px;
}
.footer-trouble {
  font-weight: 600;
  color: #1f4451;
  font-size: 16px;
}
.footer-para {
  font-family: Spline Sans;
  font-weight: 400;
  font-size: 16px;
  color: #626d82;
}
.footer-button button {
  background-color: #1f4451;
  color: white;
  height: 34px;
  width: 97px;
  border-radius: 5px;
}
.main-content {
  background-color: #f5f0ea;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 40px;
  width: 80%;
}
.tab1 {
  display: flex;
  font-family: Spline Sans;
  font-weight: 400;
  font-size: 16px;
}
.tab1 .home {
  color: #436d7c;
}
.tab1 .documents {
  color: #b5bdcd;
}
.tab2 {
  display: flex;
  justify-content: space-between;
}
.addSearchDiv {
  display: flex;
  gap: 10px;
}
.navAddDocButt button {
  height: 47px;
  width: 70px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
}
.navAddDocButt button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.my-documents {
  font-family: Zin Display;
  font-weight: 400;
  font-style: Demo;
  font-size: 33px;
}

.search input {
  height: 47px;
  width: 307px;
  padding: 10px;
}
.search {
  position: relative;
}
.search img {
  position: absolute;
  top: 15px;
  right: 10px;
}
/* table styling */

.check {
  display: flex;
  gap: 5px;
}
.arrow img {
  height: 15px;
  width: 15px;
}
.date {
  color: #626d82;
  size: 16px;
  padding: 4px 14px;
}
.but-div {
  display: flex;
  padding: 15px 14px;
  gap: 10px;
}
.but-div img {
  height: 24px;
  width: 24px;
}
.but {
  width: 134px;
  height: 24px;
  border: 1px solid #b5bdcd;
  border-radius: 5px;
  color: #626d82;
  background-color: white;
}
.table-div {
  padding: 20px;
  width: 1048px;
  height: 571px;
}

table {
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 6px;
  font-family: Spline Sans;
  padding: 10px;
  width: 100%;
}
table thead tr {
  text-align: left;
  border-bottom: 1px solid #d4d6d9;
  color: black;
  padding: 20px;
}
tbody tr {
  border-bottom: 1px solid #d4d6d9;
  height: 30px;
}
tbody .doc {
  color: #436d7c;
  font-weight: 600;
}
th,
td {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
}
.need-signing {
  background-color: #436d7c;

  color: white;
}
.pending {
  background-color: #e8ecf1;

  color: #626d82;

  /* width:37% ; */
}
.Completed {
  background-color: #d3f7b5;

  color: #1f4451;
}
.W1 {
  font-size: 16px;
  color: #b5bdcd;
  font-family: Spline Sans;
  font-style: italic;
}
.W2 {
  font-size: 16px;
  color: #436d7c;
  font-family: Spline Sans;
  font-style: italic;
}
.status {
  width: fit-content;
  border-radius: 22px;
  padding: 4px 14px;
}
.waiting {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
/* 3 dot css */
.editDltDiv {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  padding: 2px;
  text-align: center;
  top: 0;
  background-color: white;
  border: 1px solid #ddd;
}
.editDltDiv div {
  height: 20px;
  width: 90px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}
.editDltDiv div:hover {
  background-color: #e8ecf1;
}
.edit {
  color: black;
}
.delete {
  color: red;
}
/* add doc form button styling */
.addDocButt {
  background-color: #84cdac;
  border-color: #84cdac;
  color: white;
}
.cancelbtn {
  background-color: #ed8c8c;
  border-color: #ed8c8c;
  color: white;
}

/* make add form in center and bg blur */
.formAddDoc {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 0.3);
}

.hide {
  display: none;
}
.dots {
  position: relative;
  width: 100%;
}
.StatusDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.plusImg {
  height: 20px;
  width: 20px;
}
.editDltDiv div img {
  height: 15px;
  width: 15px;
}
.b:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
